.messages-container {
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  border-color: rgb(239, 239, 239);
  background-color: rgb(239, 239, 239);

  display: flex;
  flex-direction: column;
  align-items: center;

  border-width: 1px;
}

.messages-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.messages-inner-container2 {
  padding: 20px;
  border-left: solid;
  border-right: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-color: rgb(191, 189, 189);
  border-right-color: rgb(191, 189, 189);

  background-color: white;
}

.messages-inner-container2 img {
  height: 15px;
  cursor: pointer;
}

.messages-inner-container2-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messages-inner-container2 p {
  margin-bottom: 5px;
}

.messages-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;

  border-bottom: solid;
}
.messages-information-container {
  flex: 0.9;
  display: flex;
  flex-direction: row;
}

.messages-sender-name {
  flex: 0.25;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.messages-sender-message {
  flex: 0.4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.messages-date {
  flex: 0.35;
  display: flex;
  flex-direction: row;

  align-items: center;
  font-size: 14px;
}

.messages-date span {
  font-size: 11px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5px;
  margin-left: 5px;
}

.messages-delete {
  flex: 0.1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.messages-delete button {
  border-color: rgb(196, 74, 74);
  border: solid;
  border-width: 1px;
  color: rgb(196, 74, 74);
  padding: 4px;
  cursor: pointer;
}

.messages-delete button:hover {
  background-color: red;
  color: white;
}

.messages-date2 {
  flex: 0.3;
}

.messages-information-container {
  flex: 0.9;
  display: flex;
  flex-direction: row;
}

.messagesElement {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: solid;
  border-bottom-width: 1px;
  padding: 6px 0;
  border-bottom-color: rgb(220, 220, 220);
  cursor: pointer;
}

.messagesElement:hover {
  box-shadow: 8px 0 0px 0px rgb(208, 204, 204);
}

.messagesElement.active {
  font-weight: bolder;
  background-color: rgb(246 246 246);
}
.messagesElement.active:hover {
  box-shadow: 8px 0 0px 0px rgb(208, 204, 204);
}

.messages-inbox-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .messages-container {
    margin-left: 200px;
    width: 1000px;
    height: 350px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgb(239, 239, 239);
    background-color: rgb(239, 239, 239);
  }

  .messages-inner-container {
    width: 90%;
    height: 100%;
    padding: 20px;
    border-left: solid;
    border-right: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-color: rgb(191, 189, 189);
    border-right-color: rgb(191, 189, 189);
    overflow: scroll;

    border-radius: 15px;
  }

  .messages-inner-container2 {
    width: 800px;
    height: 100%;
    padding: 20px;
    border-left: solid;
    border-right: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-color: rgb(191, 189, 189);
    border-right-color: rgb(191, 189, 189);
    overflow: scroll;
    background-color: white;
  }
  .messages-inner-container2 img {
    height: 15px;
    cursor: pointer;
  }
  .messages-inner-container2-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .messages-inner-container2 p {
    margin-bottom: 5px;
  }

  .messages-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;

    border-bottom: solid;
  }

  .messages-sender-name {
    flex: 0.25;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .messages-sender-message {
    flex: 0.4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .messages-date {
    flex: 0.35;
    display: flex;
    flex-direction: row;

    align-items: center;
    font-size: 14px;
  }

  .messages-date span {
    font-size: 11px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5px;
    margin-left: 5px;
  }

  .messages-delete {
    flex: 0.1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .messages-delete button {
    border-color: rgb(196, 74, 74);
    border: solid;
    border-width: 1px;
    color: rgb(196, 74, 74);
    padding: 4px;
    cursor: pointer;
  }

  .messages-delete button:hover {
    background-color: red;
    color: white;
  }

  .messages-date2 {
    flex: 0.3;
  }

  .messages-information-container {
    flex: 0.9;
    display: flex;
    flex-direction: row;
  }

  .messagesElement {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-width: 1px;
    padding: 6px 0;
    border-bottom-color: rgb(220, 220, 220);
    cursor: pointer;
  }

  .messagesElement:hover {
    box-shadow: 8px 0 0px 0px rgb(208, 204, 204);
  }

  .messagesElement.active {
    font-weight: bolder;
    background-color: rgb(246 246 246);
  }
  .messagesElement.active:hover {
    box-shadow: 8px 0 0px 0px rgb(208, 204, 204);
  }

  .messages-inbox-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 28px;
    font-weight: bold;
  }
}
