#projectlist {
  flex-direction: column;
  align-items: center;
}

.projectList-image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(21, 13, 13);
  opacity: 0.7;
  z-index: -1;
}

.projectlist-top-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
}

.projectItem-details::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(158, 158, 158);
  opacity: 0.5;
  z-index: -1;
}

.projectItem-details.active::after {
  display: none;
}

.projectItem-details h2 {
  color: white;
  position: absolute;
  margin-top: 50px;

  font-size: 28px;
  font-weight: 700;
}

.projectItem-details h2.active {
  color: #1690d3;
  font-weight: 700;
}

.projectItem-details {
  transition: 500ms ease;
  background-image: url("/public/images/projectlist-image.jpg");
  background-size: cover;
  z-index: 19;
  position: relative;
  margin-top: 69px;
  height: 450px;
  width: 310px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectItem-details.active {
  height: 470px;
  width: 330px;
  background-image: none;

  margin-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  z-index: 20;

  border-color: rgb(245, 242, 242);
  box-shadow: 0 0 18px 0px rgb(208, 204, 204);
}

.projectItem-details p {
  visibility: hidden;
}

.projectItem-details p.active {
  margin-top: 40px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  visibility: visible;
  margin-top: 100px;
}

.projectItem-details button {
  visibility: hidden;
}

.projectItem-details button.active {
  margin-top: 100px;
  padding: 10px;
  width: 250px;
  border-radius: 20px;
  border-color: #1690d3;
  color: #1690d3;
  background-color: white;
  border-width: 1px;
  font-size: 16px;
  visibility: visible;
}

.projectItem-details button:hover {
  background-color: #1690d3;
  color: white;
}

.project-data-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.projectlist-top-heading {
  color: white;
  position: absolute;
  font-size: 48px;
  top: 150px;
  left: 100px;
}

@media only screen and (min-width: 1200px) {
  .project-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projectItem-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
