#about2 {
  padding-top: 50px;
}

#about {
  max-width: 1200px;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.text-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.about-image {
  height: 360px;
  width: 250px;
}

#about .text-container h1 {
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 5px;
}

#about .text-container span {
  color: crimson;
  font-weight: 500;
}

#about .text-container h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

#about .text-container p {
  text-align: left;
  margin-bottom: 50px;
  line-height: 30px;
}

#about .text-container .button {
  color: black;
  margin-bottom: 50px;
}
.image-container {
  position: relative;
}

#about .image-container::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;

  border: 7px solid crimson;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  #about {
    display: flex;
    justify-content: center;
    padding: 50px;

    flex-direction: row-reverse;
  }
  .about-image {
  }

  #about .text-container h1 {
    text-align: left;
  }

  .image-container {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  #about {
    display: flex;
    width: 700px;
  }
}
