#about2 {
  padding-top: 50px;
}

#about {
  max-width: 1200px;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.text-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-top: 60px;
}

.about-image {
  height: 360px;
  width: 250px;
}

.about-me {
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-me span {
  color: crimson;
  font-weight: 500;
}

.about-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-container {
}

.text-container h3 {
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-container p {
  text-align: center;
  margin-bottom: 50px;
  line-height: 30px;
}

.about-button {
  margin-bottom: 50px;

  display: inline-block;
  padding: 10px 30px;
  color: black;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}

.about-button:hover {
  color: black;
  background-color: crimson;
}

.image-container {
  position: relative;
}

.image-container::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;

  border: 7px solid crimson;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .about-main-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }

  .text-container {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-main-container {
    display: flex;
    flex-direction: row;

    padding: 40px;
    width: 70%;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }
}
