#admin-navigationbar {
  width: 100vw;
  height: auto;
  position: fixed;
  background-color: white;
  z-index: 1000;
  left: 0;
  top: 0;
}

.admin-navigationbar {
  display: flex;
  flex-direction: row;
  height: 70px;
  margin: 0 20px;

  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  border-bottom-color: rgb(217, 210, 210);
  border-bottom-width: 1px;
  padding-bottom: 10px;
}

.admin-navigationbar p {
  margin-right: 30px;
  font-size: 18px;
}

.admin-navigationbar button {
  height: 30px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgb(227, 196, 196);
  border: none;
  color: crimson;
  font-weight: 700;
  cursor: pointer;
}

.admin-navigationbar button:hover {
  background-color: crimson;
  color: white;
}
.admin-navigationbar img {
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.admin-navigationbar h1 {
  display: inline;
}

.admin-navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.admin-navbar-menu-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 9px;
}

.admin-navbar-humburger-icon {
  height: 20px;
  color: rgb(204, 11, 11);
  filter: invert(100);
  margin-top: 10px;
  margin-right: 10px;
}

.admin-navbar-close-icon {
  height: 20px;
  color: white;

  position: relative;
  z-index: 1111;

  margin-top: 10px;
  margin-right: 10px;
}
.admin-navbar-messages {
  position: relative;
  margin-right: 30px;
  padding: 13px 13px;
}
.welcome-name {
  display: none;
}
.change-password {
  font-size: 15px;
}
.admin-navbar-options {
  border: none;
  outline: none;
  font-size: 18px;
}

.admin-navbar-messages:hover {
  text-decoration: rgb(216, 0, 0);
}

.admin-navbar-messages span {
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  width: 20px;
  height: 20px;
  color: white;
  border: none;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.admin-navbar-bar {
  position: relative;
}

.admin-navbar-options {
  position: absolute;

  border: solid;
  border-color: grey;
  border-width: 1px;
  background-color: white;
  box-shadow: 0 0 18px 0px rgb(208, 204, 204);
  transition: 1000ms ease top;
}

.admin-navbar-options.active {
  top: -500%;
  transition: 1000ms ease top;
}

.admin-navbar-options p {
  font-size: 14px;
  margin: 2px;
}
.admin-navbar-welcomename {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.admin-navbar-welcomename p {
  margin-right: 0px;
}
.admin-navbar-welcomename img {
  height: 15px;
}

.dashboard-link {
  color: black;
  position: absolute;
  left: 110%;
}
.admin-unorder-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  position: absolute;
  padding: 0 10px;
  top: 0;

  left: 300%;
  overflow-x: hidden;
  z-index: 1004;
  background-color: rgb(10, 10, 21);
  padding: 25px 0;
  border-radius: 25px;

  transition: 1000ms ease left;
}
.admin-unorder-list.active {
  left: 20%;
}
.admin-list-item {
  font-size: 19px;
  color: white;
  font-weight: 700;
}
.admin-unorder-list li {
  margin-bottom: 40px;

  margin-right: 100px;
}

@media only screen and (min-width: 1200px) {
  .admin-navbar-menu-icon {
    display: none;
  }
  .dashboard-link {
    color: black;
    position: absolute;
    left: 0%;
  }
  .admin-navigationbar {
    justify-content: flex-end;
  }
  .admin-navigationbar button {
    padding: 0 30px;
  }

  .admin-unorder-list {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  .admin-unorder-list {
    display: none;
  }
}

a {
  color: black;
}
