.admin-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #212529;
  position: absolute;
  top: 150px;
  left: -140%;
}

@media only screen and (min-width: 1200px) {
  .admin-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(2, 57, 89);
    position: absolute;
    top: 150px;
    left: 50px;
    padding: 20px;
    border-radius: 35px;
  }

  .admin-sidebar img {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    filter: invert(1);
    margin-bottom: 30px;
    position: relative;
  }
}
