#changepassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.changepassword {
  width: 70%;
  height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid;
  border-radius: 30px;
  border-width: 1px;
  border-color: rgb(239, 239, 239);
  background-color: rgb(7, 36, 49);
  margin: 30px;
}

.changepassword-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  height: 300px;
  width: 300px;
  background-color: white;
}

.changepassword-form button {
  margin-top: 30px;
  padding: 10px 0;
  background-color: rgb(54, 54, 240);
  border: none;
  color: white;
  border-radius: 4px;
}

.changepassword-form input {
  margin-bottom: 20px;
  border: none;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  height: 30px;
  outline: none;
  margin: 20px 20px;
}
.changepassword-form input::placeholder {
  margin-left: 30px;
}

#upload form {
  height: 70%;
  width: 70%;
  background-color: white;
  margin-bottom: 50px;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  padding: 20px;
}
#upload input {
  margin-top: 15px;
}

#upload button {
  margin-top: 20px;
  margin-top: 30px;
  padding: 5px 30px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 4px;
}

.changepassword-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changepassword-success {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.changepassword-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  height: 300px;
  width: 300px;
  background-color: rgb(30, 37, 133);
  color: white;
}

.changepassword-popup p {
  margin-bottom: 70px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.changepassword-popup a {
  color: white;
  font-size: 19px;
  font-weight: 600;
  padding: 8px;
}
.changepassword-popup a:hover {
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  cursor: pointer;
}
.wrong-password {
  color: red;
  margin-left: 20px;
  font-size: 12px;
}

@media only screen and (min-width: 1200px) {
  .changepassword {
    width: 1000px;
    height: 350px;
  }
}
