#post-background {
  margin-top: 70px;
}

.foo {
  white-space: unset;
}

.post-header {
  height: 200px;
  border-bottom: solid;
  border-color: rgb(222, 218, 218);
  border-bottom-width: 1px;
  padding: 40px;

  position: relative;
}

.post-header div {
  position: absolute;
  top: 100px;
}
.post-header h2 {
  font-size: 38px;
}

.post-header div h2 span {
  font-weight: 900;
}

.post-cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
}

.post-cont .post-title {
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 10px;

  font-size: 28px;
  color: rgba(0, 0, 0, 0.87);
}

.post-cont .post-date {
  color: rgba(88, 88, 88, 0.87);
  margin-bottom: 15px;
  font-size: 12px;
}

.post-cont .post-body {
  margin-bottom: 30px;
  font-weight: 500;
  white-space: pre-line;
}

.post-cont .post-author {
  color: rgba(88, 88, 88, 0.87);
  margin-bottom: 5px;
  text-decoration: underline;
}
.post-subscribe-newsletter {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .post-header {
    padding: 0px;
  }

  .post-header div {
    margin-left: 200px;

    position: absolute;
    top: 80px;
  }

  .post-cont {
    padding-top: 50px;
    padding-left: 200px;
    width: 50%;
    display: inline-block;
  }

  .post-subscribe-newsletter {
    display: inline-block;
    width: 30%;
    height: 100px;
    vertical-align: top;
  }

  .post-subscribe-box {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    margin-left: 50px;
    height: 200px;
    border-color: rgb(232, 229, 229);

    border: solid;
    border-width: 1px;
    border-color: rgb(232, 229, 229);
    width: 50%;
  }

  .post-subscribe-box input {
    width: 80%;
    margin-top: 30px;
    height: 30px;
  }
  .post-subscribe-box input::placeholder {
    padding: 8px;
  }

  .post-subscribe-box button {
    margin-top: 25px;
    width: 70%;
    border-color: rgb(232, 229, 229);
  }

  .post-subscribe-box button:hover {
    background-color: rgb(227, 222, 222);
    color: black;
  }
}
