.admin {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
}

.side-bar img {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  filter: invert(1);
  margin-bottom: 30px;
  position: relative;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  height: 70px;

  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.navigation-bar button {
  height: 30px;
  padding: 0 30px;
  border-radius: 10px;
  background-color: red;
  border: none;
  color: white;
}

.navigation-bar button:hover {
  background-color: crimson;
}
.navigation-bar img {
  height: 20px;
  margin-right: 10px;
}
.navigation-bar h1 {
  display: inline;
}
.main-content {
  background-color: rgb(238, 236, 236);
  display: flex;
  flex-direction: column;

  padding: 30px;
  margin-right: 10px;
}
