#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  max-width: 1200px;
  margin: 0 auto;
}

.more-case-studies {
  padding: 12px 30px;
  border-radius: 20px;
  background-color: rgb(118, 118, 244);
  color: white;
  margin-bottom: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.more-case-studies:hover {
  background-color: blue;
}

#projects .project {
  width: 350px;

  margin: 0 auto;

  background-color: #15172e;
  border-radius: 10px;

  overflow: hidden;
  margin: 50px 10px;
}

#projects .project .image {
  height: 250px;
  position: relative;
  transition: 0.5 ease transform;
  overflow: hidden;
  flex-basis: 50%;
}

.image::after {
  position: absolute;
  content: "";
  background-color: #15172e;
  opacity: 0.7;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#projects .project:hover .image {
  transform: scale(1.1);
}

#projects h1 span {
  color: red;
  font-weight: 500;
}

.main-heading {
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 100px;
}

.content-heading {
  margin-bottom: 10px;
  font-weight: 700;
  color: white;
}
.content-subheading {
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

#projects .project .content p {
  color: white;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
}

.content {
  padding: 15px;
  height: 200px;
}

@media only screen and (min-width: 768px) {
  #projects {
    overflow: hidden;
  }

  #projects .project {
    display: flex;

    flex-direction: row;
    align-items: center;
    margin: 0;
    border-radius: 0%;
    width: 700px;

    overflow: hidden;
  }
  #projects .project .image {
    position: relative;
    transition: 0.5 ease transform;
    max-width: 350px;

    flex-basis: 200%;
  }
  .content {
    width: 350px;
  }
  #projects .project:hover .image {
    transform: scale(1);
  }

  #projects .project:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 1200px) {
  #projects .project {
    display: flex;
    width: 800px;

    flex-direction: row;
    align-items: center;
  }
  .content {
    width: 400px;
  }

  #projects .project .image {
    max-width: 400px;
  }
  .more-case-studies {
    display: none;
  }
}
